<nav class="navbar navbar-expand-sm">
	<a id="logoLink" href="http://sea.galib.uga.edu">
				<img id="logo"  src="/images/sea-logo.png"/>
	</a>
	<ul class="navbar-nav">
		<li class="nav-item"><a href="/">Solar View</a></li>
	</ul>
</nav>
